<p id="notice"><%= notice %></p>

<h1>Veiculos</h1>

<table>
  <thead>
    <tr>
      <th>Placa</th>
      <th>Renavam</th>
      <th>Proprietario</th>
      <th> Acao</th>
      <th> Acao</th>
      <th> Acao</th>
    </tr>
  </thead>

  <tbody>
    <% @veiculos.each do |veiculo| %>
      <tr>
        <td><%= veiculo.placa %></td>
        <td><%= veiculo.renavam %></td>
        <td><%= veiculo.proprietario.nome %></td>
        <td><%= link_to 'Mostrar', veiculo %></td>
        <td><%= link_to 'Editar', edit_veiculo_path(veiculo) %></td>
        <td><%= link_to 'Apagar', veiculo, method: :delete, data: { confirm: 'Você tem certeza ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Veiculo', new_veiculo_path %>
